<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <link rel="stylesheet" href="/login.css">

</head>

<body>
    <form action="/auth" method="POST" class="formulario">
        <h3 class="form-label">Inicia sesion</h3>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input name="username" class="form-control" id="exampleInputEmail1" value="<% if(typeof username != 'undefined') { %><%=username%><% } %>" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
        <br>
        <div class="extra">
            <a href="/register">O Registrate</a>
        </div>

        <% if(typeof error != 'undefined'){ %>
            
            <div style="margin-top: 21px;" class="alert alert-danger" role="alert">
                <%=msg %>
            </div>
        <%}%>

    </form>

</body>